<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Name:&nbsp;{{countryData.name}}</li>
      <!-- <li class="list-group-item">{{countryData.iso2code}}</li> -->
      <li class="list-group-item">latitude:&nbsp;{{countryData.latitude}}</li>
      <li class="list-group-item">longitude:&nbsp;{{countryData.longitude}}</li>
      <li class="list-group-item">capitalCity:&nbsp;{{countryData.capitalCity}}</li>

      <li class="list-group-item"><strong>adminregion</strong></li>
      <li class="list-group-item">id:&nbsp;{{countryData.adminregion.id}}</li>
      <!-- <li class="list-group-item">{{countryData.adminregion.iso2code}}</li> -->
      <li class="list-group-item">value:&nbsp;{{countryData.adminregion.value}}</li>

      <li class="list-group-item"><strong>region</strong></li>
      <li class="list-group-item">id:&nbsp;{{countryData.region.id}}</li>
      <!-- <li class="list-group-item">{{countryData.region.iso2code}}</li> -->
      <li class="list-group-item">{{countryData.region.value}}</li>

      <li class="list-group-item"><strong>lendingType</strong></li>
      <li class="list-group-item">id:&nbsp;{{countryData.lendingType.id}}</li>
      <!-- <li class="list-group-item">{{countryData.lendingType.iso2code}}</li> -->
      <li class="list-group-item">value:&nbsp;{{countryData.lendingType.value}}</li>

      <li class="list-group-item"><strong>incomeLevel</strong></li>
      <li class="list-group-item">incomeLevel:&nbsp;{{countryData.incomeLevel.id}}</li>
      <!-- <li class="list-group-item">{{countryData.incomeLevel.iso2code}}</li> -->
      <li class="list-group-item">incomeLevel:&nbsp;{{countryData.incomeLevel.value}}</li>

    </ul>
  </div>

