<app-WorldBankData></app-WorldBankData>

<footer class="page-footer font-small bg-light mt-4 border-top">
    <div class="container-fluid text-center text-md-left">
      <div class="footer-copyright text-center py-3">
        All data from:
        <a href="https://mdbootstrap.com/education/angular/">
          http://datatopics.worldbank.org/world-development-indicators
        </a>
        <p>
          Any bugs or inquiries email me at:
          <a href="mailto:Isaac.calligeros@gmail.com? subject=subject text">
            Isaac.calligeros@gmail.com
          </a>
        </p>
      </div>
    </div>
  </footer>