<div class="container-fluid" style="min-height: 100%;">
  <div class="row mt-2">
    <div class="col-sm-12 col-md-5 col-lg-3 border">
      <h1>Data types</h1>
      <ul>
        <div *ngFor="let header of headers">
          <li
            class="p-1"
            id="{{ 'Header_' + header }}"
            style="height: 100%;"
            (click)="HeaderClick(header)"
            tabindex="0"
            role="button"
          >
            <h6>{{ header }}</h6>
          </li>
        </div>
      </ul>

      <ul id="typeObj">
        <div *ngFor="let item of HeaderTypes">
          <div *ngIf="CurrentCategory === item.Header">
            <li
              class=""
              id="{{ item.type }}"
              style="height: 100%;"
              (click)="TypeClick(item)"
              btnCheckbox
              tabindex="0"
              role="button"
            >
              <div class="small">{{ item.type }}</div>
            </li>
            <div id="{{ 'selector_' + item.type }}" class="d-none pt-1 ml-3">
              <ng-container
                *ngFor="let indicator of IndicatorKVP | keyvalue; let i = index"
              >
                <div *ngIf="item.type === indicator.value.type">
                  <div class="small mb-1">
                    <label>
                      <input
                        type="checkbox"
                        [checked]="indicator.value.value"
                        (change)="SelectedChartIndicator(indicator, true)"
                      />
                      {{ indicator.value.indicator }}
                    </label>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </ul>
    </div>

    <div class="col-xl-5 col-lg-5 col-md-7 col-sm-12 px-2">
      <span id="hoverElement">&nbsp;Hovering over:</span>
      <div id="map" class="map border"></div>
    </div>
  

  <div id="chartList" class="col-xl-4 col-lg-4">
    <h1>Charts:</h1>
    <div *ngFor="let item of CanvasLength; let myIndex = index">
        <canvas
          style="display: none !important;"
          id="{{ 'prePopchartJs_' + myIndex }}"
        ></canvas>
      </div>

    <!-- <div
      *ngFor="let country of countryDataArray"
      class="col-lg-3 col-md-4 col-sm-6"
    >
      <app-country-data-card [countryData]="country"></app-country-data-card>
    </div> -->
  </div>
</div>
